<script lang="ts">
	import { enhance } from '$app/forms';
	import { PUBLIC_DEFAULT_BRANCH, PUBLIC_DEFAULT_REPO } from '$env/static/public';
	import type { ActionData } from './$types.js';
	import type { ReadCommitResult } from 'isomorphic-git';

	export let form: ActionData;
	let path = PUBLIC_DEFAULT_REPO || '';
	let branch = PUBLIC_DEFAULT_BRANCH || 'master';
	let commits: ReadCommitResult[] = [];
	let currentCommit: string = '';

	$: {
		if (form?.error) {
			commits = [];
			currentCommit = '';
		} else if (form?.log_success) {
			commits = form.commits || [];
			currentCommit = form.currentCommit;
		} else if (form?.checkout_success) {
			currentCommit = form.currentCommit;
		}
	}
</script>

<form
	method="POST"
	action="?/commits"
	use:enhance={() => {
		return ({ update }) => update({ reset: false });
	}}
>
	<label>
		Repository path:
		<input type="text" size="50" name="path" bind:value={path} />
	</label>
	<label>
		Branch:
		<input type="text" name="branch" bind:value={branch} />
	</label>
	{#if form?.error}
		<p style="color: red;">{form.error}</p>
	{/if}
	<button type="submit">Load repository</button>
</form>

{#if commits}
	<ul>
		{#each commits as commit (commit.oid)}
			{@const isActualCommit = commit.oid === currentCommit}
			<li class:actual-commit={isActualCommit}>
				<span>{commit.commit.message}</span>
				{#if !isActualCommit}
					<form
						method="POST"
						action="?/checkout"
						use:enhance={() => {
							return ({ update }) => update({ reset: false });
						}}
					>
						<input type="hidden" name="hash" value={commit.oid} />
						<input type="hidden" name="path" value={path} />
						<button type="submit">Checkout</button>
					</form>
				{/if}
			</li>
		{/each}
	</ul>
{/if}

<style>
	ul {
		list-style: none;
	}
	input,
	button,
	form {
		display: inline-block;
	}

	.actual-commit {
		background-color: green;
		color: white;
		font-size: larger;
	}
</style>
